.App {
  text-align: center;
  overflow: hidden;
}

.Home {
  width: 100%;
  height: 100vh;
}

.home-header h1 {
  height: 40%;
}

.home-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  /* width: 75%; */
  /* min-width: 50%; */
  justify-content: center;
  font-size: calc(20px + 1.5vmin);
  color: white;
  font-family: "Lato", "Montserrat", sans-serif;
  min-height: 45%;
  max-height: 50%;
  align-items: center;
  background: rgba(7, 20, 20, 0.7);
}

.home-header div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.bg {
  width: 100%;
  height: 100vh;
}

.special-color {
  color: #3DADAD;
}

.buttonLink {
  color: white;
  text-decoration: none;
}


.blueButton {
  background-color: #3DADAD;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  transition: .2s ease-in-out;
}

.blueButton-hover {
  background-color: #3DADAD;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.About {
  position: relative;
  display: flex;
  background-color: #213333;
  height: 100vh;
  color: white;
}

.header {
  position: absolute;
  width: 75%;
  text-align: center;
  padding: 100px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(20px + 2vmin);
}



.Projects {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #213333;
  color: white;
}

.projects-container {
  background: rgba(133, 204, 204, 0.2);
  border-radius: 10px;
  position: absolute;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
}


.projectbox {
  background-color: rgba(7,20,20, 0.6);
  width: 50%;
  border-radius: 10px;
  padding: 0;
  margin: 20px auto;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
}

#hover.projectbox {
  background-color: rgba(7,20,20, 0.6);
  width: 50%;
  border-radius: 10px;
  padding: 0;
  margin: 20px auto;
  padding-bottom: 10px;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}



.projectbox h2 {
  color: #3DADAD;
}

.projectbox hr {
  width: 75%;
}

.img-container {
  margin: 0;
  width: 100%;
  max-height: 50%;
}

.projectbox img {
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Contact {
  position: relative;
  display: flex;
  height: 50vh;
  background: rgba(7,20,20);
  color: white;
  overflow: hidden;
}


.left {
  width: 50%;
  height: 100%;
  align-items: left;
  text-align: left;
  padding-left: 30px;
  padding-top: 50px;
}

.left p {
  width: 60%;
  font-size: calc(10px + 2vmin);
}

.left .contactHeader {
  font-size: calc(25px + 2vmin);
  display: inline;
}

.right {
  width: 50%;
  height: 100%;
  align-items: right;
  text-align: right;
  padding-right: 30px;
  padding-top: 55px;
}

.contact-link {
  margin-bottom: 40px;
}

.link-container {
  background-color: none;
  padding: 0;
  transition: 0.2s ease-in-out;
}

#hover.link-container {
  background-color: #85CCCC;
  padding: 8px 15px;
  transition: 0.2s ease-in-out;
}

.link-container a {
  color: white;
  font-family: inherit;
  font-size: calc(5px + 2vmin);
}

.divider {
  width: 75%;
  background-color: #A2FAFA;
  border: none;
  height: 2px;
}


.skills-txt {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

.skills-txt .divider {
  width: 50%;
  background-color: #57FAFA;
  border: none;
  height: 2px;
}

.skillbox {
  background-color: rgba(7,20,20, 0.6);
  width: 50%;
  border-radius: 10px;
  padding: 25px 50px;
  margin: 20px auto;
}

.skillbox p {
  text-align: center;
}

.skillbox h2 {
  color: #3DADAD;
}

.skillbox hr {
  width: 75%;
}

.Skills {
  height: 100vh;
  position: relative;
  display: flex;
  color: white;
  background-color: #213333;
}


.header-container h1 {
  margin-top: 0px;
}

.right-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100vh;
}

.left-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100vh;
}

.about-txt {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
}

.about-txt div {
  padding: 20px;
  margin: auto;
}

.about-txt p {
  text-align: left;
  font-size: calc(10px + 1vw);
}

.navbar {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 50%;
  min-width: 100%;
  transform: translate(-50%, 0);
}

.navbar h1 {
  color: white;
  font-size: calc(20px + 1vw);
  position: absolute;
  top: 50%;  
  right: 30px;
  transform: translate(0, -95%);
}

.navbar .linkedInIcon {
  right: 120px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}



.navbar.fixed {
  position: fixed;
  top: 30px;
  width: 100%;
}

.collapsed {
  height: 65px;
  position: fixed;
  top: 30px;
  left: 0;
  color: white;
  padding: 0;
  margin-left: 25px;
  transition: margin-left 0.2s ease-out;
}

.bars {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


.collapsed.hide {
  height: 65px;
  position: fixed;
  top: 30px;
  left: 0;
  color: white;
  padding: 0;
  margin-left: -50px;
  transition: margin-left 0.2s ease-out;
}

.barImage {
  margin: 0;
  position: absolute;
  height: 100%;
}

.bars.hover {
  color: #3DADAD;
  transition: 0.3s ease-in-out;
}


.links {
  display: inline-block;
  margin: auto; 
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: calc(6px + 1vw);
  background: rgba(7, 20, 20, 0.7);
  border-radius: 10px;
}

.navbar.fixed .links {
  background: rgba(7, 20, 20);
}

.links li {
  display: inline;
}


.links a {
  padding: 20px 20px;
}

.links a:hover {
  background-color: #3DADAD;
  color: white;
  transition: .3s ease-in-out;
}

.logo {
  top: 12.5%;
  left: 0;
  position: absolute;
  height: 75%;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.project-description-container {
  position: fixed;
  background-color: #213333;
  border-radius: 20px;
  color: white;
  width: 60%;
  height: 65vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
  transition: 0.5s ease-in-out;
}

.project-image {
  position: absolute;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0px;
  left: 0;
}

.description-container {
  border-radius: 0 20px 20px 0;
  position: absolute;
  background-color: rgba(7,20,20);
  padding: 0 20px;
  height: 100%;
  max-width: 55%;
  right: 0;
  text-align: left;
}

.FaTimes {
  position: absolute;
  margin-right: 30px;
  right: 0;
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
}

.FaTimes.hover {
  color: #3DADAD;
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}

.description-container h3 {
  font-size: calc(15px + 2vmin);
  margin: calc(8px + 2vmin) 10px 0 10px;
}

.description-container p {
  font-size: calc(5px + 2vmin);
  margin: calc(8px + 2vmin) 10px 0 10px;
}

.description-container .blueButton-hover {
  margin: calc(8px + 2vmin) 10px 0 10px;
  padding: calc(7px + 2vmin) calc(10px + 2vmin);
  font-size: calc(8px + 2vmin);
}

.description-container .blueButton {
  margin: calc(8px + 2vmin) 10px 0 10px;
  padding: calc(7px + 2vmin) calc(10px + 2vmin);
  font-size: calc(8px + 2vmin);
}





