.App {
  text-align: center;
}

.App-header {
  background-color: #1C2124;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: "Lato", "Montserrat", sans-serif;
}
.Navbar {
  background-color: #288FC7;
  overflow: hidden;
  position: relative;
}

.Navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Navbar a.active {
  background-color: #1C2124;
}

.Navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  position: absolute;
  height: 100%;
  right: 0px;
}




