@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  overflow: hidden;
}

.special-color {
  color: #3DADAD;
}

.buttonLink {
  color: white;
  text-decoration: none;
}


.blueButton {
  background-color: #3DADAD;
  border: none;
  color: white;
  /* padding: 15px 25px; */
  /* font-size: large; */
  font-weight: bold;
  border-radius: 10px;
  transition: .2s ease-in-out;
}

.blueButton:hover {
  background-color: #3DADAD;
  border: none;
  color: white;
  /* padding: 15px 25px; */
  /* font-size: large; */
  font-weight: bold;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.About {
  position: relative;
  display: flex;
  background-color: #213333;
  height: 100vh;
  color: white;
}

.header {
  position: absolute;
  width: 75%;
  text-align: center;
  padding: 100px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.Projects {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #213333;
  color: white;
}

.projects-container {
  background: rgba(133, 204, 204, 0.2);
  border-radius: 10px;
  position: absolute;
  /* width: 75%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
}


.Contact {
  position: relative;
  display: flex;
  height: 50vh;
  background: rgba(7,20,20);
  color: white;
  overflow: hidden;
}


.left {
  width: 50%;
  height: 100%;
  align-items: left;
  text-align: left;
  padding-left: 30px;
  padding-top: 50px;
}

.left p {
  width: 60%;
  font-size: calc(10px + 2vmin);
}

.right {
  width: 50%;
  height: 100%;
  align-items: right;
  text-align: right;
  padding-right: 30px;
  padding-top: 55px;
}


.divider {
  width: 75%;
  background-color: #A2FAFA;
  border: none;
  height: 2px;
}


.skills-txt {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

.skills-txt .divider {
  width: 40%;
  background-color: #57FAFA;
  border: none;
  height: 2px;
  margin: auto;
}

.Skills {
  height: 100vh;
  position: relative;
  display: flex;
  color: white;
  background-color: #213333;
}


.header-container h1 {
  margin-top: 0px;
}

.right-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100vh;
}

.left-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100vh;
}

.about-txt {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
}

.about-txt div {
  padding: 20px 0;
  margin: auto;
}

.about-txt p {
  text-align: left;
}


.logo {
  top: 12.5%;
  left: 0;
  position: absolute;
  height: 75%;
}





.hidden {
  display: none;
}











