@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  overflow: hidden;
}

.special-color {
  color: #3DADAD;
}

.buttonLink {
  color: white;
  text-decoration: none;
}


.blueButton {
  background-color: #3DADAD;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: .2s ease-in-out;
}

.blueButton:hover {
  background-color: #3DADAD;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.About {
  position: relative;
  display: flex;
  background-color: #213333;
  height: 100vh;
  color: white;
  max-height: 800px;
}

.About.phone {
  max-height: 700px;
}

.header {
  position: absolute;
  width: 75%;
  text-align: center;
  padding: 100px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-phone {
  width: 100%;
}



.Projects {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #213333;
  color: white;
  max-height: 1100px;
}

.Projects-large {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: block;
  color: white;
  background-color: #213333;
  max-height: 1000px;
}

.Projects.phone {
  max-height: 900px;
}

.projects-container {
  background: rgba(133, 204, 204, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 400px;
  max-height: 900px;
}


.Contact {
  position: relative;
  display: flex;
  height: 50vh;
  background: rgba(7,20,20);
  color: white;
  overflow: hidden;
}


.left {
  height: 100%;
  align-items: left;
  text-align: left;
}

.left p {
  max-width: 340px;
}

.right {
  height: 100%;
  align-items: right;
  text-align: right;
}


.divider {
  width: 75%;
  background-color: #A2FAFA;
  border: none;
  height: 2px;
  max-width: 300px;
}


.skills-txt {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.skills-txt-phone {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50vh;
}

.skills-txt-phone .divider {
  width: 40%;
  background-color: #57FAFA;
  border: none;
  height: 2px;
  margin: auto;
}

.skills-txt .divider {
  width: 40%;
  background-color: #57FAFA;
  border: none;
  height: 2px;
  margin: auto;
}

.Skills-phone {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: block;
  color: white;
  background-color: #213333;
  max-height: 800px;
}

.Skills-large {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: block;
  color: white;
  background-color: #213333;
  max-height: 600px;
}

.flex-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
}


.skills-phone-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.skills-large-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}


.skills-phone-container .divider {
  width: 40%;
  background-color: #57FAFA;
  border: none;
  height: 2px;
  margin: auto;
}

.Skills {
  height: 100vh;
  position: relative;
  display: flex;
  color: white;
  background-color: #213333;
  max-height: 800px;
}

.header-container h1 {
  margin-top: 0px;
}

.right-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100%;
}

.left-container {
  position: relative;
  display: table;
  width: 50%;
  height: 100%;
}

.about-txt {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
}

.about-txt div {
  padding: 20px 0;
  margin: auto;
}

.about-txt p {
  text-align: left;
  max-width: 800px;
}


.logo {
  top: 12.5%;
  left: 0;
  position: absolute;
  height: 75%;
}





.hidden {
  display: none;
}











