.left .contactHeader {
    display: inline;
  }

  .contact-link {
    margin-bottom: 40px;
  }
  
  .link-container {
    background-color: none;
    padding: 0;
    transition: 0.2s ease-in-out;
  }
  
  .link-container:hover {
    background-color: #85CCCC;
    padding: 8px 15px;
    transition: 0.2s ease-in-out;
  }
  
  .link-container a {
    color: white;
    font-family: inherit;
  }