.Home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  

.home-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  color: white;
  font-family: "Lato", "Montserrat", sans-serif;
  align-items: center;
  background: rgba(7, 20, 20, 0.7);
  border-radius: 10px;
  max-width: 1000px;
}

.home-header div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  background-image: url("northwestern-background.jpeg");
  background-size: 200vh;
  background-position: 50% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(6px);
}

img.bg {
  height: 100vh;
  width: 100%;
}