.navbar {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .navbar h1 {
    color: white;
    font-size: calc(20px + 1vw);
    position: absolute;
    top: 50%;  
    right: 30px;
    transform: translate(0, -95%);
  }
  
  .navbar .linkedInIcon {
    right: 120px;
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
    padding-top: 100%;
    padding-bottom: 100%;

  }

  
  
  
  .navbar.fixed {
    position: fixed;
    top: 30px;
    width: 100%;
  }
  
  
  .links {
    display: inline-block;
    margin-right: auto; 
    color: white;
    text-align: center;
    text-decoration: none;
    background: rgba(7, 20, 20, 0.7);
  }
  
  .navbar.fixed .links {
    background: rgba(7, 20, 20);
  }
  
  .links li {
    display: inline;
  }
  
  
  .links a:hover {
    background-color: #3DADAD;
    color: white;
    transition: .3s ease-in-out;
  }

  .phoneNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: rgba(7, 20, 20);
  }

  .phoneNav a {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin: auto;
  }

  .phoneNav a:hover {
    width: 100%;
    background-color: #3DADAD;
    color: white;
    transition: width 0.2s ease-in-out;
  }


  .phoneNav li {
    margin: 10px 0;
  }

  .phoneNav h1 {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }

  .phoneNav .FaTime {
    margin: auto;
    margin-bottom: 20px;
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
  }

  .phoneNav .FaTime:hover {
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
  }
