.collapsed {
    height: 65px;
    position: fixed;
    color: white;
    padding: 0;
  }
  
  .bars {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  
  .collapsed.hide {
    height: 65px;
    position: fixed;
    left: -50px;
    color: white;
    padding: 0;
    transition: left 0.2s ease-out;
  }
  
  .barImage {
    margin: 0;
    position: absolute;
    height: 100%;
  }
  
  .bars:hover {
    color: #3DADAD;
    transition: 0.3s ease-in-out;
  }