.projectbox {
    background-color: rgba(7,20,20, 0.6);
    width: 50%;
    border-radius: 10px;
    padding: 0;
    margin: 20px auto;
    padding-bottom: 10px;
    transition: 0.3s ease-in-out;
  }

  #hover.projectbox {
    background-color: rgba(7,20,20, 0.6);
    width: 50%;
    border-radius: 10px;
    padding: 0;
    margin: 20px auto;
    padding-bottom: 10px;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
  
  
  
  .projectbox h2 {
    color: #3DADAD;
  }
  
  .projectbox hr {
    width: 75%;
  }
  
  .img-container {
    margin: 0;
    width: 100%;
    max-height: 50%;
  }
  
  .projectbox img {
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }