.skillbox {
    background-color: rgba(7,20,20, 0.6);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 400px;
    flex: 1;
  }

  .skillbox-large {
    background-color: rgba(7,20,20, 0.6);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 500px;
    flex: 1;
  }

  .skillbox-large h2 {
    color: #3DADAD;
  }
  
  .skillbox p {
    text-align: center;
  }
  
  .skillbox h2 {
    color: #3DADAD;
  }
  
  .skillbox hr {
    width: 75%;
    margin: 0 auto;
  }